<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Angular Seed</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="css/bootstrap-fontawesome.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="ngSeed">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container" ng-controller="mainCtrl">
            <h1 class='hero'>Welcome to {{appname}}</h1>

            <div class="alert bg-info">
                <h4>What's your name?</h4>
                <label>Type in your name: </label> <input type='text' ng-model='yourname'>
            </div>
            
            <div class="well">
                <h4 ng-if="yourname !== ''">Hello <b>{{yourname}}</b>!</h4>

                <p>This is a very basic angular template to get you on your way. Feel free to modify it.</p>

                <p><i class="fa fa-star"></i> Bootstrap and Font-Awesome included!</p>
            </div>
        </div>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

        <script src="js/app.js"></script>
    </body>
</html>